[submodule "themes/airspace-hugo"]
	path = themes/airspace-hugo
	url = https://github.com/karju-dev/airspace-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/berknell/berknell.github.io.git
	branch = master
